@font-face {
    font-family: 'PrecisionSans_Bold';
    src: url('../fonts/eot/PrecisionSans_Bd.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_Bd.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_Bd.svg#PrecisionSans_W_Bd') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Bold_Italic';
    src: url('../fonts/eot/PrecisionSans_BdIt.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_BdIt.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_BdIt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_BdIt.svg#PrecisionSans_W_BdIt') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Light';
    src: url('../fonts/eot/PrecisionSans_Lt.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_Lt.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_Lt.svg#PrecisionSans_W_Lt') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Light_Italic';
    src: url('../fonts/eot/PrecisionSans_LtIt.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_LtIt.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_LtIt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_LtIt.svg#PrecisionSans_W_LtIt') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Medium';
    src: url('../fonts/eot/PrecisionSans_Md.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_Md.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_Md.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_Md.svg#PrecisionSans_W_Md') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Medium_Italic';
    src: url('../fonts/eot/PrecisionSans_MdIt.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_MdIt.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_MdIt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_MdIt.svg#PrecisionSans_W_MdIt') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Regular';
    src: url('../fonts/eot/PrecisionSans_Rg.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_Rg.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_Rg.svg#PrecisionSans_W_Rg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PrecisionSans_Regular_Italic';
    src: url('../fonts/eot/PrecisionSans_RgIt.eot'); /* IE9 Compat Modes */
    src: local('☺'), /* prevent using local copy of font */
    url('../fonts/woff/PrecisionSans_RgIt.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ttf/PrecisionSans_RgIt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/svg/PrecisionSans_RgIt.svg#PrecisionSans_W_RgIt') format('svg'); /* Legacy iOS */
}